

header {
    padding: 0.5rem;
    width: 100%;
    color: white;
    background: radial-gradient(violet, indigo, blue, green, yellow, orange, red);
    text-align: center;
  }

  #preview {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
    max-height: 300px;
    
  }

  #preview img {
    max-height: 200px;
    transition: 0.2s;
    cursor: pointer;
    flex: 0 1 auto;
  }

  #previewImage:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  }

  .buttons {
    display: inline-block;
    cursor: pointer;
  }

  #bigPictureInsert {
    max-height: 400px;
    align-self: center;
    display:block;
    border:50px;
    border: black;
  }

